@import "tailwindcss";

.tcp-container {
  @apply max-w-[1040px] mx-auto px-4;
}

* {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Inter Variable", sans-serif;
}
body {
  font-family: "Cabin Variable", sans-serif;
}

.iu-btn {
  @apply py-4 px-[45px] rounded-full font-semibold text-center block md:w-fit;
}
.iu-btn:not(.--secondary) {
  @apply bg-linear-90 from-[#0043EC] to-[#309EFF] text-white;
}
.iu-btn.--secondary {
  @apply bg-white border-2 border-[#0043EC] text-[#0043EC];
}

.--animateUp {
  animation: fadeUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(30px);
}
.--animateUp.--d-1 {
  animation: fadeUp 0.8s ease-out 0.5s forwards;
}
.--animateUp.--d-2 {
  animation: fadeUp 0.8s ease-out 1s forwards;
}
.--animateUp.--d-3 {
  animation: fadeUp 0.8s ease-out 1.5s forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.--animateDown {
  animation: fadeDown 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}
.--animateDown.--d-1 {
  animation: fadeDown 0.8s ease-out 0.5s forwards;
}
.--animateDown.--d-2 {
  animation: fadeDown 0.8s ease-out 1s forwards;
}
.--animateDown.--d-3 {
  animation: fadeDown 0.8s ease-out 1.5s forwards;
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  @keyframes moveDown {
    to {
      transform: translateY(0) translateX(90px) scale(0.4);
    }
  }
}
.--moveDown {
  animation: moveDown ease-in both;
  animation-timeline: view();
  animation-range: entry 10% cover 70%;
}
@keyframes moveDown {
  to {
    transform: translateX(50px) scale(1.4);
  }
}

/* Carrusel servicios */
@media (max-width: 500px) {
  .swiper-slide-next {
    scale: 95%;
    transition: all 0.5s;
  }
  .swiper-slide {
    transition: all 0.5s !important;
  }
}
.servicio-card .icon,
.servicio-card .icon svg {
  position: relative;
}
.servicio-card .icon::before {
  content: "";
  @apply size-[16px] rounded-full bg-blue-600 absolute bottom-0 -left-1 -z-10;
}

/* Carrusel marcas */
@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-42% - 1rem), 0, 0);
  }
}

.animate-scroll {
  display: flex;
  align-items: center;
  animation: scroll 20s linear infinite;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  gap: 1rem;
}

.animate-scroll img {
  display: block;
  object-fit: cover;
}
