@import "tailwindcss";

.tcp-container {
	@apply max-w-[1040px] mx-auto px-4;
}

h1, h2 {
	font-family: 'Inter Variable', sans-serif;
}
body {
	font-family: 'Cabin Variable', sans-serif;
}

.iu-btn {
	@apply py-4 px-[45px] rounded-full font-semibold text-center block md:w-fit
}
.iu-btn:not(.--secondary) {
	@apply bg-linear-90 from-[#0043EC] to-[#309EFF] text-white
}
.iu-btn.--secondary {
	@apply bg-white border-2 border-[#0043EC] text-[#0043EC]
}

.--animateUp {
	animation: fadeUp 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(30px);
}
.--animateUp.--d-1 {
	animation: fadeUp 0.8s ease-out .5s forwards;
}
.--animateUp.--d-2 {
	animation: fadeUp 0.8s ease-out 1s forwards;
}
.--animateUp.--d-3 {
	animation: fadeUp 0.8s ease-out 1.5s forwards;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.--animateDown {
	animation: fadeDown 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(-30px);
}
.--animateDown.--d-1 {
	animation: fadeDown 0.8s ease-out .5s forwards;
}
.--animateDown.--d-2 {
	animation: fadeDown 0.8s ease-out 1s forwards;
}
.--animateDown.--d-3 {
	animation: fadeDown 0.8s ease-out 1.5s forwards;
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}