---
const logos = [
  "/images/bbmSolutions.jpeg",
  "/images/cavasVinariis.png",
  "/images/dashaAccesorios.png",
  "/images/extractoImportado.png",
  "/images/mirabilia.png",
  "/images/newBrandKids.png",
  "/images/og.png",
  "/images/pk2.png",
  "/images/seco.png",
  "/images/secoFondoAzul.jpeg",
];
---

<section class="bg-[#FFF] py-16" id="marcas">
  <h2
    class="text-[16px] mb-8 leading-[120%] md:text-[32px] md:leading-[50px] text-[#1E1E1E] font-bold max-w-[740px] mx-auto text-center"
  >
    Empresas que confían en nuestros servicios
  </h2>

  <div class="relative overflow-hidden">
    <div class="flex logos-track animate-scroll gap-4">
      {
        [...logos, ...logos].map((logo, index) => (
          <div
            class="flex-shrink-0 min-w-[120px] md:min-w-[192px] h-24 bg-white rounded-md overflow-hidden flex items-center justify-center"
            aria-hidden={index >= logos.length ? "true" : undefined}
          >
            <img
              src={logo}
              alt={`Logo ${index + 1}`}
              class="w-full h-full object-contain"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>