---
const logos = [
  "/images/bbmSolutions.jpeg",
  "/images/cavasVinariis.png",
  "/images/dashaAccesorios.png",
  "/images/extractoImportado.png",
  "/images/mirabilia.png",
  "/images/newBrandKids.png",
  "/images/og.png",
  "/images/pk2.png",
  "/images/seco.png",
  "/images/secoFondoAzul.jpeg",
];
---

<section class="bg-[#FFF] py-16" id="marcas">
  <h2
    class="text-[16px] mb-8 leading-[120%] md:text-[32px] md:leading-[50px] text-[#1E1E1E] font-bold max-w-[740px] mx-auto text-center"
  >
    Empresas que confían en nuestros servicios
  </h2>
  <div class="relative overflow-hidden">
    <div class="flex animate-scroll gap-4 logos-slide">
      {[
        ...logos,
        ...logos
      ].map((logo, index) => (
        <div
          class="flex-shrink-0 w-48 h-24 bg-white rounded-md overflow-hidden flex items-center justify-center"

      >
        <img
          src={logo}
          alt={`Logo ${index + 1}`}
          class="w-full h-full object-cover"
        />
      </div>
    ))}
  </div>
</section>