<section class="py-[80px] relative overflow-clip group">
	<div
		class="absolute size-[450px] rounded-full -top-[100px] -left-[50px] bg-[#0043EC]/20"
	>
	</div>
	<div class="tcp-container relative">
		<span
			class="text-[14px] mx-auto md:text-[16px] hidden md:flex gap-2 bg-[#C3D2FA] text-[#0043EC] w-fit rounded-full py-[5px] px-4"
		>
			Comparativa de Pros y Contras
		</span>
		<h3 class="text-[32px] text-center font-bold mt-4">
			Cómo nos <span class="text-[#0043EC]">diferenciamos</span>
		</h3>
		<p
			class="text-[#111111]/80 text-center max-w-[380px] mb-12 mx-auto leading-[110%]"
		>
			Sabemos que tenés opciones. Acá te mostramos por qué somos <strong
				>la mejor para vos</strong
			>.
		</p>
		<div class="grid md:grid-cols-3 gap-2">
			<div class="p-8 bg-[#F4F4F4] rounded-lg border border-black/20">
				<h6 class="text-[18px] font-medium mb-8">Freelancer</h6>
				<ul class="text-[#111]/80">
					<li class="border-b border-black/20 py-2 flex gap-2">
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#6B6B6B"></path>
						</svg>
						Precios razonables
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#6B6B6B"></path>
						</svg>
						Experiencia
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Con presión para agregar “un solo” cliente más
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Enfoque con visión de túnel
					</li>
					<li class="py-2 flex gap-2 items-center">
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						El agotamiento es inevitable
					</li>
				</ul>
			</div>
			<div
				class="p-8 order-3 md:order-2 bg-white rounded-lg border border-black/20 md:group-hover:scale-110 transition-all"
			>
				<img
					class="mx-auto h-[27px] mb-8"
					src="/images/iudigital-logo.webp"
					alt="IU Digital"
				/>
				<ul>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						¡Lo mejor de los dos mundos!
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						Precios fijos por niveles
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						Sin contratos a largo plazo
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						Enfocados en hacer que vos te luzcas
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						5 años de trayectoria exitosa
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						Actualizaciones que podés aplicar
					</li>
					<li class="py-2 flex gap-2 items-center">
						<svg
							class="min-w-[20px]"
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M19.5815 0.410092C20.1395 0.956882 20.1395 1.84487 19.5815 2.39166L8.15422 13.5899C7.59625 14.1367 6.6901 14.1367 6.13213 13.5899L0.41848 7.99078C-0.139493 7.44399 -0.139493 6.55601 0.41848 6.00922C0.976454 5.46243 1.8826 5.46243 2.44058 6.00922L7.14541 10.6154L17.5639 0.410092C18.1219 -0.136697 19.028 -0.136697 19.586 0.410092H19.5815Z"
								fill="#0043EC"></path>
						</svg>
						Un equipo de soporte que la rompe
					</li>
				</ul>
			</div>
			<div class="p-8 bg-[#F4F4F4] rounded-lg border border-black/20">
				<h6 class="text-[18px] font-medium mb-8">Agencia Grande</h6>
				<ul class="text-[#111]/80">
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Tarifas infladas de las “grandes agencias”
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Contratos a largo plazo
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Media buyers sin experiencia
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Sos solo un numero
					</li>
					<li
						class="border-b border-black/20 py-2 flex gap-2 items-center"
					>
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						Tiempos de respuesta lentos
					</li>
					<li class="py-2 flex gap-2 items-center">
						<svg
							class="min-w-[15px]"
							width="15"
							height="15"
							viewBox="0 0 15 15"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M14.5561 2.56169C15.1417 1.97603 15.1417 1.02491 14.5561 0.439247C13.9704 -0.146416 13.0193 -0.146416 12.4336 0.439247L7.5 5.37756L2.56169 0.443932C1.97603 -0.141731 1.02491 -0.141731 0.439247 0.443932C-0.146416 1.0296 -0.146416 1.98071 0.439247 2.56637L5.37756 7.5L0.443933 12.4383C-0.14173 13.024 -0.14173 13.9751 0.443933 14.5608C1.0296 15.1464 1.98071 15.1464 2.56638 14.5608L7.5 9.62244L12.4383 14.5561C13.024 15.1417 13.9751 15.1417 14.5608 14.5561C15.1464 13.9704 15.1464 13.0193 14.5608 12.4336L9.62244 7.5L14.5561 2.56169Z"
								fill="#FF0000"></path>
						</svg>
						La rotación de empleados perjudica a tu negocio
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
