<section class="py-[80px]">
	<div class="tcp-container">
		<div class="grid md:grid-cols-2 gap-10">
			<div class="flex items-center text-[#1E1E1E]">
				<div>
					<h2 class="font-semibold text-[22px] mb-2">Hacer crecer la rentabilidad de tus anuncios es como cuidar un jardín.</h2>
					<h2 class="font-semibold text-[22px] mb-2">Nuestro trabajo es <span class="font-extrabold">podar lo que no sirve</span> para que todo florezca.</h2>
					<p class=" mb-2">
						La rentabilidad de tus campañas pagas depende de qué tan bien distribuyas tu presupuesto.
					</p>
					<p class=" mb-2">
						¿Y cómo se logra eso?
					</p>
					<ul class="mb-2">
						<li class="flex gap-2 items-center mb-2">
							<img class="min-w-[19px]" src="/images/iu-digital-check.png" alt="Check">
							Con un seguimiento y atribución más precisos
						</li>
						<li class="flex gap-2 items-center mb-2">
							<img class="min-w-[19px]" src="/images/iu-digital-check.png" alt="Check">
							Con conjuntos de anuncios más variados
						</li>
						<li class="flex gap-2 items-center mb-2">
							<img class="min-w-[19px]" src="/images/iu-digital-check.png" alt="Check">
							Con una segmentación más afinada
						</li>
						<li class="flex gap-2 items-center">
							<img class="min-w-[19px]" src="/images/iu-digital-check.png" alt="Check">
							Con más pruebas A/B
						</li>
					</ul>
					<p class="mb-2">
						Como en cualquier jardín, mientras más atención y estrategia le pongas, mejores frutos vas a cosechar.
					</p>
					<p class="">
						La buena noticia es que nosotros ya sabemos cómo hacerlo. Así que vos solo tenés que disfrutar los resultados.
					</p>
				</div>
			</div>
			<img class="md:order-normal -order-1" src="/images/iu-digital-podamos.webp" alt="IU Digital - Podamos lo que no sirve">
		</div>
	</div>
</section>