<header>
	<div class="tcp-container">
		<div class="flex justify-between items-center py-[12px] border-b-[.8px] border-[#1E1E1E]/40">
			<img class="h-[37px]" src="/images/iudigital-logo.webp" alt="IU Digital">
			<nav class="flex gap-4 items-center">
				<a class="text-[#111]/80" href="#">Servicios</a>
				<a class="text-[#111]/80" href="#">Quienes somos</a>
				<a class="text-[#111]/80" href="#">Marcas</a>
				<a class="text-[#111]/80" href="#">Marcas</a>
				<a class="iu-btn" href="#">Agendar llamada » </a>
			</nav>
		</div>
	</div>
</header>