<header>
	<div class="tcp-container">
		<div class="flex justify-between items-center pt-8 md:py-[12px] md:border-b-[.8px] border-[#1E1E1E]/40">
			<img class="h-[28px] md:h-[37px] mx-auto md:mx-0" src="/images/iudigital-logo.webp" alt="IU Digital">
			<nav class="hidden md:flex gap-4 items-center">
				<a class="text-[#111]/80" href="#servicios">Servicios</a>
				<a class="text-[#111]/80" href="#marcas">Marcas</a>
				<a class="text-[#111]/80" href="#comparativa">Quienes somos</a>
				<a class="text-[#111]/80" href="#testimonios">Testimonios</a>
				<a class="iu-btn" href="#">Agendar llamada » </a>
			</nav>
		</div>
	</div>
</header>