<section class="relative py-[40px] overflow-x-clip">
	<div class="tcp-container">
		<div class="flex flex-col-reverse md:flex-row gap-4 md:gap-8 items-center">
			<div class="md:min-w-[469px] md:max-w-[469px] max-w-full">
				<span class="text-[14px] md:text-[16px] hidden md:flex gap-2 bg-[#C3D2FA] text-[#0043EC] w-fit rounded-full py-[5px] px-4">
					<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.3125 20.3125C8.3125 19.3067 8.65472 18.2892 9.49054 17.7296C10.4929 17.0585 11.7004 16.6667 13 16.6667C14.2996 16.6667 15.5071 17.0585 16.5095 17.7296C17.3453 18.2892 17.6875 19.3067 17.6875 20.3125" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M13.0026 14.0625C14.4408 14.0625 15.6068 12.8966 15.6068 11.4584C15.6068 10.0201 14.4408 8.85419 13.0026 8.85419C11.5644 8.85419 10.3984 10.0201 10.3984 11.4584C10.3984 12.8966 11.5644 14.0625 13.0026 14.0625Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.7266 11.4583C19.8829 11.4583 20.9573 11.8509 21.8489 12.5233C22.6046 13.0933 22.8932 14.0574 22.8932 15.0039V15.1041" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.7318 8.85417C19.8824 8.85417 20.8151 7.92143 20.8151 6.77083C20.8151 5.62024 19.8824 4.6875 18.7318 4.6875C17.5812 4.6875 16.6484 5.62024 16.6484 6.77083C16.6484 7.92143 17.5812 8.85417 18.7318 8.85417Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.26823 11.4583C6.11184 11.4583 5.03746 11.8509 4.1459 12.5233C3.39017 13.0933 3.10156 14.0574 3.10156 15.0039V15.1041" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.27083 8.85417C8.42143 8.85417 9.35417 7.92143 9.35417 6.77083C9.35417 5.62024 8.42143 4.6875 7.27083 4.6875C6.12024 4.6875 5.1875 5.62024 5.1875 6.77083C5.1875 7.92143 6.12024 8.85417 7.27083 8.85417Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Ya ayudamos a +50 negocios a aumentar sus ventas
				</span>
				<h1 class="text-[32px] tracking-tighter md:text-[36px] text-[#111111] font-bold my-4 leading-[110%] md:leading-[115%] text-center md:text-start">Creamos e impulsamos tu <span class="text-[#0043EC]">presencia digital</span></h1>
				<p class="text-[#111111]/80 text-center md:text-start">
					Hacemos equipo con empresas que quieren romper el molde y les brindamos soluciones que trazan el camino para la generación de leads y ventas.
				</p>
				<div class="mt-8 flex flex-col md:flex-row gap-4">
					<a class="iu-btn --secondary" href="#servicios">Ver Servicios</a>
					<a class="iu-btn" href="#!">Quiero un impulso »</a>
				</div>
			</div>
			<div class="flex gap-6 md:gap-[40px] px-10">
				<div class="relative">
					<div class="--animateUp --d-1 z-50 absolute -left-[38px] top-[80px] p-[3px] rounded-full bg-linear-180 w-fit from-[#0043EC] to-[#41E85A]">
						<div class="size-[65px] md:size-[74px] flex items-center text-[#1E1E1E] justify-center font-bold rounded-full bg-white">
							+75%
						</div>
					</div>
					<div class="--animateUp --d-3 z-50 absolute top-0 right-0 bg-[#0043EC] p-2 size-[48px] flex items-center justify-center rounded-full">
						<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.7815 14.4522C23.215 14.4522 25.1878 12.4794 25.1878 10.0459C25.1878 7.61239 23.215 5.63962 20.7815 5.63962C19.8746 5.63962 19.0316 5.91362 18.3309 6.38338M18.3309 6.38338C17.7287 4.66708 16.0941 3.43646 14.172 3.43646C12.25 3.43646 10.6154 4.66708 10.0131 6.38338M18.3309 6.38338C18.4912 6.84013 18.5783 7.33126 18.5783 7.84277C18.5783 8.22314 18.5301 8.59226 18.4395 8.94435M7.56256 14.4522C5.12902 14.4522 3.15625 12.4794 3.15625 10.0459C3.15625 7.61239 5.12902 5.63962 7.56256 5.63962C8.46951 5.63962 9.31246 5.91362 10.0131 6.38338M10.0131 6.38338C10.5725 6.75838 11.0412 7.25811 11.3794 7.84277" stroke="white" stroke-width="1.65237" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M7.5625 19.4093C9.32398 18.7237 11.6378 18.3077 14.172 18.3077C16.7061 18.3077 19.02 18.7237 20.7814 19.4093" stroke="white" stroke-width="1.65237" stroke-linecap="round"/>
							<path d="M6.46094 23.2648C8.516 22.5792 11.2155 22.1632 14.172 22.1632C17.1285 22.1632 19.8279 22.5792 21.883 23.2648" stroke="white" stroke-width="1.65237" stroke-linecap="round"/>
							<path d="M20.7814 13.3506V22.1633M7.5625 13.3506V22.1633" stroke="white" stroke-width="1.65237" stroke-linecap="round"/>
						</svg>
					</div>
					<img class="--animateUp w-[192px] h-auto md:h-[342px]" src="/images/iudigital-hero-chef.webp" alt="iudigital-hero-chef">
				</div>
				<div class="relative">
					<div class="--animateDown --d-1 z-50 absolute -right-[38px] bottom-[50px] p-[3px] rounded-full bg-linear-180 w-fit from-[#0043EC] to-[#41E85A]">
						<div class="size-[65px] md:size-[74px] flex items-center text-[#1E1E1E] justify-center font-bold rounded-full bg-white">
							+86%
						</div>
					</div>
					<div class="--animateDown --d-2 z-50 absolute top-[180px] md:top-[230px] -left-[135px] bg-white text-[12px] font-semibold text-end pe-[20px] p-[13px] shadow-[0_0_50px_#11111130] text-[#1E1E1E] rounded-bl-[20px] rounded-tl-[20px] rounded-br-[20px]">
						Hemos tenido +50 nuevos <br>clientes desde que empezamos
					</div>
					<div class="--animateDown --d-3 z-50 absolute bottom-0 left-0 bg-[#0043EC] p-2 size-[48px] flex items-center justify-center rounded-full">
						<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22.7188 11.6983V21.6125C22.7188 22.1257 22.7188 22.3823 22.635 22.5848C22.5232 22.8547 22.3087 23.0692 22.0388 23.181C21.8363 23.2648 21.5797 23.2648 21.0664 23.2648C20.5532 23.2648 20.2965 23.2648 20.0941 23.181C19.8242 23.0692 19.6097 22.8547 19.4979 22.5848C19.4141 22.3823 19.4141 22.1257 19.4141 21.6125V11.6983C19.4141 11.185 19.4141 10.9284 19.4979 10.7259C19.6097 10.456 19.8242 10.2415 20.0941 10.1298C20.2965 10.0459 20.5532 10.0459 21.0664 10.0459C21.5797 10.0459 21.8363 10.0459 22.0388 10.1298C22.3087 10.2415 22.5232 10.456 22.635 10.7259C22.7188 10.9284 22.7188 11.185 22.7188 11.6983Z" stroke="white" stroke-width="1.65237" stroke-linejoin="round"/>
							<path d="M18.3125 3.43646H21.6172V6.74119" stroke="white" stroke-width="1.65237" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M21.0666 3.98724C21.0666 3.98724 16.6603 9.49513 5.09375 13.3506" stroke="white" stroke-width="1.65237" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M15 15.5538V21.6125C15 22.1257 15 22.3824 14.9162 22.5848C14.8044 22.8547 14.5899 23.0692 14.32 23.181C14.1176 23.2648 13.8609 23.2648 13.3477 23.2648C12.8345 23.2648 12.5778 23.2648 12.3753 23.181C12.1054 23.0692 11.891 22.8547 11.7791 22.5848C11.6953 22.3824 11.6953 22.1257 11.6953 21.6125V15.5538C11.6953 15.0406 11.6953 14.7839 11.7791 14.5814C11.891 14.3115 12.1054 14.0971 12.3753 13.9853C12.5778 13.9014 12.8345 13.9014 13.3477 13.9014C13.8609 13.9014 14.1176 13.9014 14.32 13.9853C14.5899 14.0971 14.8044 14.3115 14.9162 14.5814C15 14.7839 15 15.0406 15 15.5538Z" stroke="white" stroke-width="1.65237" stroke-linejoin="round"/>
							<path d="M7.28911 18.3078V21.6125C7.28911 22.1257 7.28911 22.3824 7.20525 22.5849C7.09345 22.8547 6.879 23.0692 6.60908 23.181C6.40664 23.2649 6.15001 23.2649 5.63674 23.2649C5.12347 23.2649 4.86684 23.2649 4.6644 23.181C4.39448 23.0692 4.18003 22.8547 4.06823 22.5849C3.98437 22.3824 3.98438 22.1257 3.98438 21.6125V18.3078C3.98438 17.7945 3.98437 17.5379 4.06823 17.3354C4.18003 17.0655 4.39448 16.851 4.6644 16.7392C4.86684 16.6554 5.12347 16.6554 5.63674 16.6554C6.15001 16.6554 6.40664 16.6554 6.60908 16.7392C6.879 16.851 7.09345 17.0655 7.20525 17.3354C7.28911 17.5379 7.28911 17.7945 7.28911 18.3078Z" stroke="white" stroke-width="1.65237" stroke-linejoin="round"/>
						</svg>
					</div>
					<img class="--animateDown w-[192px] h-auto md:h-[342px] mt-[65px] md:mt-[86px]" src="/images/iudigital-hero-accountant.webp" alt="iudigital-hero-accountant">
				</div>
			</div>
		</div>
	</div>
</section>