<section class="relative py-[40px] overflow-x-clip">
	<div class="tcp-container">
		<div class="flex flex-col-reverse md:flex-row gap-4 md:gap-8 items-center justify-center">
			<div class="md:min-w-[469px] md:max-w-[469px] max-w-full">
				<span class="text-[14px] md:text-[16px] hidden md:flex gap-2 bg-[#C3D2FA] text-[#0043EC] w-fit rounded-full py-[5px] px-4">
					<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.3125 20.3125C8.3125 19.3067 8.65472 18.2892 9.49054 17.7296C10.4929 17.0585 11.7004 16.6667 13 16.6667C14.2996 16.6667 15.5071 17.0585 16.5095 17.7296C17.3453 18.2892 17.6875 19.3067 17.6875 20.3125" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M13.0026 14.0625C14.4408 14.0625 15.6068 12.8966 15.6068 11.4584C15.6068 10.0201 14.4408 8.85419 13.0026 8.85419C11.5644 8.85419 10.3984 10.0201 10.3984 11.4584C10.3984 12.8966 11.5644 14.0625 13.0026 14.0625Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.7266 11.4583C19.8829 11.4583 20.9573 11.8509 21.8489 12.5233C22.6046 13.0933 22.8932 14.0574 22.8932 15.0039V15.1041" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.7318 8.85417C19.8824 8.85417 20.8151 7.92143 20.8151 6.77083C20.8151 5.62024 19.8824 4.6875 18.7318 4.6875C17.5812 4.6875 16.6484 5.62024 16.6484 6.77083C16.6484 7.92143 17.5812 8.85417 18.7318 8.85417Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.26823 11.4583C6.11184 11.4583 5.03746 11.8509 4.1459 12.5233C3.39017 13.0933 3.10156 14.0574 3.10156 15.0039V15.1041" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.27083 8.85417C8.42143 8.85417 9.35417 7.92143 9.35417 6.77083C9.35417 5.62024 8.42143 4.6875 7.27083 4.6875C6.12024 4.6875 5.1875 5.62024 5.1875 6.77083C5.1875 7.92143 6.12024 8.85417 7.27083 8.85417Z" stroke="#0043EC" stroke-width="1.5625" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					Ya ayudamos a +50 negocios a aumentar sus ventas
				</span>
				<h1 class="text-[47px] tracking-tighter md:text-[36px] text-[#111111] font-bold my-4 leading-[100%] md:leading-[115%] text-center md:text-start">Creamos e impulsamos tu <span class="text-[#0043EC]">presencia digital</span></h1>
				<p class="text-[#111111]/80 text-center md:text-start">
					Hacemos equipo con empresas que quieren romper el molde y les brindamos soluciones que trazan el camino para la generación de leads y ventas.
				</p>
				<div class="mt-8 flex flex-col md:flex-row gap-4">
					<a class="iu-btn --secondary" href="#servicios">Ver Servicios</a>
					<a class="iu-btn" href="#!">Quiero un impulso »</a>
				</div>
			</div>
			
		</div>
	</div>
</section>