<section class="py-[80px] bg-[#1E1E1E] overflow-clip relative" id="servicios">
	<div
		class="size-[300px] absolute -left-[150px] -top-[150px] blur-[80px] rounded-full bg-[#484848]"
	>
	</div>
	<div
		class="size-[300px] absolute -right-[150px] -bottom-[150px] blur-[80px] rounded-full bg-[#484848]"
	></div>
	<div class="tcp-container relative">
		<h2 class="text-white font-bold text-[32px] mb-4">
			Nuestros servicios
		</h2>
		<p class="text-white/80 max-w-[390px]">
			Hacemos equipo con empresas que quieren romper el molde y les
			brindamos soluciones que trazan el camino para la generación de
			leads y ventas.
		</p>
		<div class="swiper mySwiper mt-8" style="overflow: visible !important;">
			<div class="swiper-wrapper">
				<!-- Tarjeta 1 -->
				<div
					class="servicio-card swiper-slide bg-[#2F2F2F] rounded-xl border border-white/20 p-8 min-h-[225px]"
				>
					<div class="icon">
						<svg class="text-white size-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
						</svg>
					</div>				  
					<h3 class="mt-4 mb-2 text-white font-bold text-[18px] max-w-[215px] leading-[110%]">Paid Media</h3>
					<p class="text-sm text-gray-300">
						Gestionamos tus campañas en Google y redes sociales para que
						llegues a más personas y multipliques tus ventas.
					</p>
				</div>
	
				<!-- Tarjeta 2 -->
				<div
					class="servicio-card swiper-slide bg-[#2F2F2F] rounded-xl border border-white/20 p-8 min-h-[225px]"
				>
					<div class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
						</svg>
					</div>				  
					<h3 class="mt-4 mb-2 text-white font-bold text-[18px] max-w-[215px] leading-[110%]">
						Diseño web y desarrollo de e-commerce
					</h3>
					<p class="text-sm text-gray-300">
						Diseñamos sitios modernos y tiendas online que combinan
						estética, velocidad y enfoque en la conversión.
					</p>
				</div>
	
				<!-- Tarjeta 3 -->
				<div
					class="servicio-card swiper-slide bg-[#2F2F2F] rounded-xl border border-white/20 p-8 min-h-[225px]"
				>
					<div class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
							<path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
						</svg>
					</div>				  
					<h3 class="mt-4 mb-2 text-white font-bold text-[18px] max-w-[215px] leading-[110%]">Email marketing</h3>
					<p class="text-sm text-gray-300">
						Creamos campañas de correo que mantienen el interés, generan
						confianza y automatizan tus ventas.
					</p>
				</div>
	
				<!-- Tarjeta 4 -->
				<div
					class="servicio-card swiper-slide bg-[#2F2F2F] rounded-xl border border-white/20 p-8 min-h-[225px]"
				>
					<div class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 1 1 0-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 0 1-1.44-4.282m3.102.069a18.03 18.03 0 0 1-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 0 1 8.835 2.535M10.34 6.66a23.847 23.847 0 0 0 8.835-2.535m0 0A23.74 23.74 0 0 0 18.795 3m.38 1.125a23.91 23.91 0 0 1 1.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 0 0 1.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 0 1 0 3.46" />
						</svg>
					</div>				  
					<h3 class="mt-4 mb-2 text-white font-bold text-[18px] max-w-[215px] leading-[110%]">
						Diseño y creación de anuncios
					</h3>
					<p class="text-sm text-gray-300">
						Anuncios visuales y persuasivos que destacan en el feed y
						convierten clics en clientes.
					</p>
				</div>
	
				<!-- Tarjeta 4 -->
				<div
					class="servicio-card swiper-slide bg-[#2F2F2F] rounded-xl border border-white/20 p-8 min-h-[225px]"
				>
					<div class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
							<path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 1 1 0-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 0 1-1.44-4.282m3.102.069a18.03 18.03 0 0 1-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 0 1 8.835 2.535M10.34 6.66a23.847 23.847 0 0 0 8.835-2.535m0 0A23.74 23.74 0 0 0 18.795 3m.38 1.125a23.91 23.91 0 0 1 1.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 0 0 1.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 0 1 0 3.46" />
						</svg>
					</div>				  
					<h3 class="mt-4 mb-2 text-white font-bold text-[18px] max-w-[215px] leading-[110%]">
						Diseño y creación de anuncios
					</h3>
					<p class="text-sm text-gray-300">
						Anuncios visuales y persuasivos que destacan en el feed y
						convierten clics en clientes.
					</p>
				</div>
			</div>
		</div>
		<a class="iu-btn mt-8" href="#!">Agendar llamada »</a>
	</div>
</section>

<script>

	// Core de Swiper y estilos
	import Swiper from 'swiper';
	import 'swiper/css';
	// Módulo Navigation de Swiper y estilos
	import { Navigation } from "swiper/modules";
	import "swiper/css/navigation";
  
	// Configurar Swiper
	const swiper = new Swiper(".swiper", {
	  modules: [Navigation],
	  slidesPerView: 2.8,
	  spaceBetween: 16,
	  breakpoints: {
		0: {
			slidesPerView: 1.1,
		},
		568: {
			slidesPerView: 2.8,
		}
	  }
	});
  </script>